.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.SoundPlayer {
    display: flex;
    padding-left: 20px;
}

.playerButton {
    height: 20px;
    width: 50px;
    padding: 4px;
    color: rgb(34, 34, 34);
    border: solid rgb(34, 34, 34) 2px;
    transition: linear .3s;
}

.playerButton:hover {
    color: white;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.playerButton-playing {
    background-color: #61dafb;
}
